<div class="row">
  <h1>Triangles</h1>
</div>

<form action="/results" method="get" class="text-center jv-block form-inline">

  <div class="form-group">
    <label for="side_one">Side 1</label><br>
    <input type="text" name="side_one" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="side_two">Side 2</label><br>
    <input type="text" name="side_two" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="side_three">Side 3</label><br>
    <input type="text" name="side_three" class="form-control" required>
  </div><br>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="special-message">
  <% if @message %>
    <%= @message %>
  <% end %>
</div>
