<!DOCTYPE html>
<html>
  <head>
    <title>Triangles</title>
    <link rel="stylesheet" type="text/css" href="">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
