<!DOCTYPE html>
<html>
  <head>
    <title>Triangles</title>
    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/readable/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
